* {
  padding: 0;
  margin: 0;
}

/* BARRA MENU */
.menu {
  background-color: rgb(33, 37, 41);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-around;
  align-items: center;
  text-align: center;
  list-style: none;
  padding: 19px;
}

.menu2 {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: 0.3s solid transparent;
  padding-bottom: 5px;
}
.menu2:hover {
  color: white;
  border-bottom: 2px solid white;
}
nav ul li a {
  font-size: 25px;
}

/* BACKGROUND */
main {
  background-image: url(../asents/sobrenosotros/background-sobrenosotros.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: auto;
}

/* TITULOS */
h1 {
  color: whitesmoke;
  font-family: "Bitter", serif;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  font-size: 5em;
  text-shadow: 1px 1px 3px white;
  padding-top: 0.5em;
  margin-bottom: 3rem;
}

.parrafo {
  width: 80%;
  color: whitesmoke;
  font-style: italic ;
  font-size: 25px;
  text-align: center;
  margin: auto;
  text-shadow: 0px 0px 2px grey;
}

h2 {
  color: whitesmoke;
  font-family: "Bitter", serif;
  font-family: "Source Sans Pro", sans-serif;
  text-decoration-line: underline;
  text-align: center;
  font-size: 4em;
  text-shadow: 1px 1px 2px white;
}

/* galeria de fotos */
.fotos{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2,1fr) ;
  padding-top: 64px;
  gap: 10px;
  justify-content: center;
}

.galery {
  display: block;
  width: 400px;
  height: auto;
  overflow: hidden;
  border-radius: 20%;
  margin-left: auto; 
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 10%;
  box-shadow: 0px 0px 5px black;
}

/* ANIMACION */
.galery img {
  display: block;
  width: 100%;
  transition: 2s;
}

.galery:hover img{
  transform: scale(1.3);  
}


/* ASOCIACIONES */
h3{
  color: whitesmoke;
  font-family: "Bitter", serif;
  font-family: "Source Sans Pro", sans-serif;
  text-decoration-line: underline;
  text-align: center;
  font-size: 4em;
  text-shadow: 1px 1px 2px white;
}

.marcas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.logotipo{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.logos {
  width: 200px;
  height: 200px;
  border-radius: 20%;
  border-radius: 50%;
  box-shadow: 0px 0px 5px black;
  cursor: pointer;
}
/* footer */
footer {
  color: white;
  background-color: rgb(33, 37, 41);
  text-align: center;
  font-size: 25px;
  padding-block-end: 1px;
}

/* 1260px RESPONSIVE */ /* 1260px RESPONSIVE */ /* 1260px RESPONSIVE */
@media screen and (max-width:1260px) {

  .fotos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3,1fr) ;
  }
  
}

@media screen and (max-width:930px) {

  .menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
  }

  .fotos{
    display: flex;
    flex-wrap: wrap;
  }

}

@media screen and (max-width:420px) {

  .menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
  }

  nav ul li a {
    font-size: 18px;
  }

  .fotos{
    display: flex;
    flex-wrap: wrap;
  }

}

@media screen and (max-width:320px) {

  .menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 4px;
  }

  nav ul li a {
    font-size: 14px;
  }

  h1 {
    text-align: center;
    font-size: 3.7em;
    text-shadow: 1px 1px 3px white;
    padding-top: 0.5em;
    margin-bottom: 1em;
  }

  .fotos{
    display: flex;
    flex-wrap: wrap;
  }

  h3{
    font-size:3.7em;
  }

}

