* {
  padding: 0;
  margin: 0;
}

/* BARRA MENU */
.menu {
  background-color: rgb(33, 37, 41);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding: 19px;
}

.menu2 {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: 0.3s solid transparent;
  padding-bottom: 5px;
}

.menu2:hover {
  color: white;
  border-bottom: 2px solid white;
}

nav ul li a {
  font-size: 25px;
  text-align: center;
}

/* BACKGROUND */
.fondocafe {
  background-image: url(../asents/index/cafefondo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 840px;
}

.titulo1 {
  color: whitesmoke;
  font-family: "Sansita Swashed", cursive;
  font-size: 220px;
  text-align: center;
  text-shadow: 8px 8px 5px black, 8px 8px 5px black;
  padding-top: 80px;
}

.titulo2 {
  color: rgb(194, 164, 129);
  font-family: "Sansita Swashed", cursive;
  font-size: 150px;
  text-align: center;
  text-shadow: 1px 1px 1px whitesmoke, 1px 1px 1px whitesmoke, 8px 8px 5px black;
}

/* PARRAFO */
article {
  display: flex;
  justify-content: center;
  padding: 30px;
}
article p {
  color: white;
  text-align: center;
  font-style: italic;
  text-shadow: 2px 2px 5px black;
  font-size: 35px;
  background-color: rgba(0, 0, 0, 0.685);
  border-style: hidden;
  border-radius: 10px;
}

footer {
  color: white;
  background-color: rgb(33, 37, 41);
  text-align: center;
  font-size: 32px;
  padding-block-end: 1px;
}

/* DISEÑO DESKTOP */ /* DISEÑO DESKTOP */ /* DISEÑO DESKTOP */

@media screen and (max-width: 1200px) {
  
  .menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
  }
  article p {
    font-size: 30px;
  }

  footer {
    font-size: 28px;
  }
}

/* 920px RESPONSIVE */ /* 920px RESPONSIVE */ /* 920px RESPONSIVE */

@media screen and (max-width: 920px) {

  .menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2px;
    align-items: center;
  }

  nav ul li a {
    font-size: 20px;
    text-align: center;
  }

  .titulo1 {
    font-size: 150px;
    padding-top: 40px;
  }

  .titulo2 {
    font-size: 110px;
    text-shadow: 1px 2px 1px whitesmoke, 5px 5px 2px black;
  }

  article p {
    width: 80%;
    font-size: 28px;
  }

  footer {
    font-size: 24px;
  }
}

/* 640px RESPONSIVE */ /* 640px RESPONSIVE */ /* 640px RESPONSIVE */

@media screen and (max-width: 640px) {

  /* BARRA MENU */
  .menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2px;
    align-items: center;
  }

  nav ul li a {
    font-size: 18px;
    text-align: center;
  }

  .titulo1 {
    font-size: 110px;
    text-shadow: 4px 4px 2px black, 4px 4px 2px black;  
    padding-top: 40px;
  }

  .titulo2 {
    font-size: 70px;
    text-shadow: 1px 1px 1px whitesmoke, 4px 4px 2px black;
  }

  article p {
    font-size: 24px;
  }

  footer {
    font-size: 18px;
  }
}

/* 480px RESPONSIVE */ /* 480px RESPONSIVE */ /* 480px RESPONSIVE */

@media screen and (max-width: 480px) {

  /* BARRA MENU */
  .menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    align-items: center;
  }

  nav ul li a {
    font-size: 18px;
    text-align: center;
  }

  .titulo1 {
    font-size: 70px;
    text-shadow: 4px 4px 2px black, 5px 5px 2px black;
    padding-top: 40px;
  }

  .titulo2 {
    font-size: 40px;
    text-align: center;
    text-shadow: 1px 1px 1px whitesmoke, 4px 4px 2px black;
  }

  article p {
    font-size: 22px;
  }

  footer {
    font-size: 18px;
  }
}

/* DISEÑO MOBILE */ /* DISEÑO MOBILE */ /* DISEÑO MOBILE *//* DISEÑO MOBILE */ /* DISEÑO MOBILE */ /* DISEÑO MOBILE */

@media screen and (max-width: 320px) {
  /* BARRA MENU */
  .menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    align-items: center;
  }

  nav ul li a {
    text-align: center;
    font-size: 16px;
  }

  .titulo1 {
    font-size: 60px;
    text-align: center;
    text-shadow: 4px 4px 2px black, 4px 4px 2px black;
    padding-top: 40px;
  }

  .titulo2 {
    font-size: 40px;
    text-align: center;
    text-shadow: 1px 1px 1px whitesmoke, 4px 4px 2px black;
  }

  article p {
    font-size: 18px;
  }

  footer {
    font-size: 18px;
  }
}
